.pybli-top-section p {
  margin-bottom: 0;
  color: var(--color-dark);
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
}

.lbl-class {
  margin-bottom: 0;
  white-space: nowrap;
  margin-right: 15px;
  min-width: 100px;
}

.emp-details-top li {
  letter-spacing: 0.02em;
  font-size: 14px;
  color: var(--color-dark);
  font-weight: 500;
}

.emp-details-top li span {
  font-weight: 400;
}

.fix-comn-div p {
  margin-bottom: 10px;
  color: var(--color-dark);
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
}

.pybli-top-section
  .filter-check-new
  .cust-chk-bx
  input:checked
  ~ .cust-chkmark {
  background-color: var(--thm-color);
}

.pybli-top-section .filter-check-new .cust-chk-bx .cust-chkmark:after {
  border-color: var(--color-white);
}

.pybli-top-section .filter-check-new .cust-chkmark {
  top: -2px;
}

.pybli-top-section .filter-check-new .cust-chk-bx {
  color: var(--thm-color);
  font-weight: 500 !important;
}

.left-side-main-section-top .ml-auto button {
  background-color: #dde6f9;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 0;
  outline: none;
}

.input-style {
  height: auto;
  padding: 5px 12px;
}

.left-side-main-section-top .input-style {
  background-color: var(--color-white);
}

.left-side-main-section-top .input-group-text {
  background-color: var(--color-white);
}

.left-side-main-section-bottom .table td {
  text-align: left;
}

.left-side-main-section-bottom .table th {
  text-align: left;
}

.fix-wdth {
  max-width: 300px;
}

.cust-tabs-emp .nav-link {
  min-width: 80px;
}

.filter-check-new .cust-chkmark {
  top: -2px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1550px) {
  .fix-comn-div .col-xl-3 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (max-width: 1450px) {
  .top-tabs-pos {
    left: unset;
    position: unset;
  }
}

@media (max-width: 1199px) {
  .lbl-class {
    min-width: 100px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .comn-title-tag .ml-auto {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .comn-title-tag .ml-auto button {
    min-width: auto;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    white-space: nowrap;
    padding: 9px 5px;
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .lbl-class {
    margin-bottom: 0.5rem;
  }

  .comn-title-tag .ml-auto button {
    font-size: 11px;
  }

  .tbl-bottom-fix {
    max-width: 100%;
  }

  .cust-tabs-emp .nav-link {
    min-width: auto;
    padding: 8px 10px 8px 10px;
    font-size: 12px;
  }
}
