<div class="row row-space-class">
  <div class="col-12">
    <div class="comn-title-tag d-flex align-items-center">
      <h1>Dashboard</h1>
    </div>
  </div>
  <div class="col-12 mb-3 time-bx-col">
    <div class="row justify-content-center mr-0">
      <div class="col-xl-2 col-md-4 col-sm-6 mb-3 mb-xl-0 pr-0">
        <div class="dash-white-bx">
          <div class="d-flex align-items-center">
            <div class="dash-box-round">
              <img src="assets/images/india-flag.svg" alt="" />
            </div>
            <div class="dash-box-text ml-4">
              <p>{{ time[0]?.name }}</p>
              <span>{{ time[0]?.time }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-4 col-sm-6 mb-3 mb-xl-0 pr-0">
        <div class="dash-white-bx">
          <div class="d-flex align-items-center">
            <div class="dash-box-round">
              <img src="assets/images/usa-flag.svg" alt="" />
            </div>
            <div class="dash-box-text ml-4">
              <p>{{ time[1]?.name }}</p>
              <span>{{ time[1]?.time }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-4 col-sm-6 mb-3 mb-xl-0 pr-0">
        <div class="dash-white-bx">
          <div class="d-flex align-items-center">
            <div class="dash-box-round">
              <img src="assets/images/usa-flag.svg" alt="" />
            </div>
            <div class="dash-box-text ml-4">
              <p>{{ time[2]?.name }}</p>
              <span>{{ time[2]?.time }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-4 col-sm-6 mb-3 mb-xl-0 pr-0">
        <div class="dash-white-bx">
          <div class="d-flex align-items-center">
            <div class="dash-box-round">
              <img src="assets/images/hongkong-flag.svg" alt="" />
            </div>
            <div class="dash-box-text ml-4">
              <p>{{ time[3]?.name }}</p>
              <span>{{ time[3]?.time }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-4 col-sm-6 mb-3 mb-xl-0 pr-0">
        <div class="dash-white-bx">
          <div class="d-flex align-items-center">
            <div class="dash-box-round">
              <img src="assets/images/belgium-flag.svg" alt="" />
            </div>
            <div class="dash-box-text ml-4">
              <p>{{ time[4]?.name }}</p>
              <span>{{ time[4]?.time }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-4 col-sm-6 mb-3 mb-xl-0 pr-0">
        <div class="dash-white-bx">
          <div class="d-flex align-items-center">
            <div class="dash-box-round">
              <img src="assets/images/russia-flag.svg" alt="" />
            </div>
            <div class="dash-box-text ml-4">
              <p>{{ time[5]?.name }}</p>
              <span>{{ time[5]?.time }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row justify-content-center hover-section-class">
      <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0">
        <div class="dash-white-bx">
          <div class="d-flex align-items-center">
            <div class="dash-box-round">
              <img src="assets/images/dash-bx-icon-1.svg" alt="" />
            </div>
            <div class="dash-box-text ml-4">
              <p>Cash of hand</p>
              <span>100</span>
            </div>
          </div>
          <img
            src="assets/images/dash-bx-icon-shap-1.svg"
            class="shap-btm-dash"
            alt=""
          />
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0">
        <div class="dash-white-bx">
          <div class="d-flex align-items-center">
            <div class="dash-box-round">
              <img src="assets/images/dash-bx-icon-2.svg" alt="" />
            </div>
            <div class="dash-box-text ml-4">
              <p>Total Sale</p>
              <span>100</span>
            </div>
          </div>
          <img
            src="assets/images/dash-bx-icon-shap-2.svg"
            class="shap-btm-dash"
            alt=""
          />
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0">
        <div class="dash-white-bx">
          <div class="d-flex align-items-center">
            <div class="dash-box-round">
              <img src="assets/images/dash-bx-icon-3.svg" alt="" />
            </div>
            <div class="dash-box-text ml-4">
              <p>Total Purchase</p>
              <span>90</span>
            </div>
          </div>
          <img
            src="assets/images/dash-bx-icon-shap-3.svg"
            class="shap-btm-dash"
            alt=""
          />
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0">
        <div class="dash-white-bx">
          <div class="d-flex align-items-center">
            <div class="dash-box-round">
              <img src="assets/images/dash-bx-icon-4.svg" alt="" />
            </div>
            <div class="dash-box-text ml-4">
              <p>Average Sale</p>
              <span>50</span>
            </div>
          </div>
          <img
            src="assets/images/dash-bx-icon-shap-4.svg"
            class="shap-btm-dash"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row justify-content-center">
      <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0">
        <div class="dash-white-bx dash-next-bx-inr">
          <div class="dash-chart-main">
            <span class="dash-chart-tag">Cash of hand</span>
            <div class="dash-chart-main-text d-flex align-items-center">
              <p>100</p>
              <span class="ml-auto"><mark class="down-mark">- 15%</mark></span>
            </div>
            <div id="chart-cash-of-hand">
              <apx-chart
                [series]="chartData?.cashOnHand"
                [chart]="cashOnHandChartOptions?.chart"
                [colors]="cashOnHandChartOptions?.colors"
                [dataLabels]="cashOnHandChartOptions?.dataLabels"
                [stroke]="cashOnHandChartOptions?.stroke"
                [grid]="cashOnHandChartOptions?.grid"
                [legend]="cashOnHandChartOptions?.legend"
                [fill]="cashOnHandChartOptions?.fill"
                [yaxis]="cashOnHandChartOptions?.yaxis"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0">
        <div class="dash-white-bx dash-next-bx-inr">
          <div class="dash-chart-main">
            <span class="dash-chart-tag">Total Sale</span>
            <div class="dash-chart-main-text d-flex align-items-center">
              <p>100</p>
              <span class="ml-auto"> <mark class="up-mark">+ 25%</mark></span>
            </div>
            <div id="chart-total-sale">
              <apx-chart
                [series]="chartData?.totalSale"
                [chart]="totalSaleChartOptions?.chart"
                [colors]="totalSaleChartOptions?.colors"
                [dataLabels]="totalSaleChartOptions?.dataLabels"
                [stroke]="totalSaleChartOptions?.stroke"
                [grid]="totalSaleChartOptions?.grid"
                [legend]="totalSaleChartOptions?.legend"
                [fill]="totalSaleChartOptions?.fill"
                [yaxis]="totalSaleChartOptions?.yaxis"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0">
        <div class="dash-white-bx dash-next-bx-inr">
          <div class="dash-chart-main">
            <span class="dash-chart-tag">Total Purchase</span>
            <div class="dash-chart-main-text d-flex align-items-center">
              <p>90</p>
              <span class="ml-auto"> <mark class="up-mark">+ 50%</mark></span>
            </div>
            <div id="chart-total-purchase">
              <apx-chart
                [series]="chartData?.totalPurchase"
                [chart]="totalPurchaseOptions?.chart"
                [colors]="totalPurchaseOptions?.colors"
                [dataLabels]="totalPurchaseOptions?.dataLabels"
                [stroke]="totalPurchaseOptions?.stroke"
                [grid]="totalPurchaseOptions?.grid"
                [legend]="totalPurchaseOptions?.legend"
                [fill]="totalPurchaseOptions?.fill"
                [yaxis]="totalPurchaseOptions?.yaxis"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0">
        <div class="dash-white-bx dash-next-bx-inr">
          <div class="dash-chart-main">
            <span class="dash-chart-tag">Average Sale</span>
            <div class="dash-chart-main-text d-flex align-items-center">
              <p>50</p>
            </div>
            <div id="chart-average-sale">
              <apx-chart
                [series]="chartData?.averageSale"
                [chart]="averageSaleOptions?.chart"
                [colors]="averageSaleOptions?.colors"
                [dataLabels]="averageSaleOptions?.dataLabels"
                [stroke]="averageSaleOptions?.stroke"
                [legend]="averageSaleOptions?.legend"
                [tooltip]="averageSaleOptions?.tooltip"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 mb-3 mb-md-0">
        <div class="dash-white-bx dash-next-bx-inr">
          <div class="dash-chart-main">
            <span class="dash-chart-tag border-bottom pb-3">Recent Report</span>
            <div id="chart-recent-report">
              <apx-chart
                [series]="chartData?.recent"
                [chart]="chartRecentOptions?.chart"
                [colors]="chartRecentOptions?.colors"
                [dataLabels]="chartRecentOptions?.dataLabels"
                [stroke]="chartRecentOptions?.stroke"
                [markers]="chartRecentOptions?.markers"
                [legend]="chartRecentOptions?.legend"
                [fill]="chartRecentOptions?.fill"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3 mb-md-0">
        <div class="dash-white-bx dash-next-bx-inr">
          <div class="dash-chart-main">
            <span class="dash-chart-tag border-bottom pb-3">Inventory</span>
            <div id="chart-inventory">
              <apx-chart
                [series]="chartData?.chartInventory"
                [chart]="chartInventoryOptions?.chart"
                [colors]="chartInventoryOptions?.colors"
                [dataLabels]="chartInventoryOptions?.dataLabels"
                [stroke]="chartInventoryOptions?.stroke"
                [markers]="chartInventoryOptions?.markers"
                [legend]="chartInventoryOptions?.legend"
                [xaxis]="chartInventoryOptions?.xaxis"
                [fill]="chartInventoryOptions?.fill"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3 mb-md-0">
        <div class="dash-white-bx">
          <div class="dash-inr-page-bx-main">
            <div class="dash-inr-title-comn d-flex align-items-center mb-4">
              <p>Financial Data</p>
              <div class="dash-inr-title-comn-link ml-auto">
                <a href="javascript:void(0)">See All</a>
              </div>
            </div>
            <div class="dash-inr-page-bx">
              <div class="cust-tabs-emp">
                <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item" role="presentation" (click)="onPrice()">
                    <a
                      class="nav-link active"
                      id="pills-Currencies-tab"
                      data-toggle="pill"
                      href="#pills-Currencies"
                      role="tab"
                      aria-controls="pills-Currencies"
                      aria-selected="true"
                      >Currencies</a
                    >
                  </li>
                  <li class="nav-item" role="presentation" (click)="onMetal()">
                    <a
                      class="nav-link"
                      id="pills-Metal-tab"
                      data-toggle="pill"
                      href="#pills-Metal"
                      role="tab"
                      aria-controls="pills-Metal"
                      aria-selected="false"
                      >Metal</a
                    >
                  </li>
                </ul>
                <div class="tab-content">
                  <div
                    class="tab-pane fade show active"
                    id="pills-Currencies"
                    role="tabpanel"
                    aria-labelledby="pills-Currencies"
                  >
                    <div class="dash-table-cust mt-3">
                      <div class="table-responsive">
                        <table
                          datatable
                          [dtOptions]="dtOptions[0]"
                          [dtTrigger]="dtTriggerPrice"
                          class="table table-bordered mb-0"
                          style="width: 100%"
                        >
                          <thead>
                            <tr>
                              <th>Currencies</th>
                              <th>Price</th>
                              <th>Change</th>
                              <th>Change%</th>
                            </tr>
                          </thead>
                          <tbody *ngIf="price?.length != 0">
                            <tr *ngFor="let price of price; index as i">
                              <td>{{ price.productTitle }}</td>
                              <td>{{ price.price | number: "2.0-2" }}</td>
                              <td
                                [ngClass]="{
                                  'tbl-green': price.change >= 0,
                                  'tbl-span': price.change < 0
                                }"
                              >
                                {{ price.change | number: "2.3-4" }}
                                <span
                                  [ngClass]="{
                                    up: price.change >= 0,
                                    down: price.change < 0
                                  }"
                                ></span>
                              </td>
                              <td
                                [ngClass]="{
                                  'tbl-green': price.changePercent >= 0,
                                  'tbl-span': price.changePercent < 0
                                }"
                              >
                                {{ price.changePercent | number: "2.3-4" }}%
                                <span
                                  [ngClass]="{
                                    up: price.changePercent >= 0,
                                    down: price.changePercent < 0
                                  }"
                                ></span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="pills-Metal"
                    role="tabpanel"
                    aria-labelledby="pills-Metal"
                  >
                    <div class="dash-table-cust mt-3">
                      <div class="table-responsive">
                        <table
                          datatable
                          [dtOptions]="dtOptions[1]"
                          [dtTrigger]="dtTriggerMetal"
                          class="table table-bordered mb-0"
                        >
                          <thead>
                            <tr>
                              <th>Title</th>
                              <th>Price</th>
                              <th>Change</th>
                              <th>Change%</th>
                            </tr>
                          </thead>
                          <tbody *ngIf="metal?.length != 0">
                            <tr *ngFor="let metal of metal; index as i">
                              <td>{{ metal.productTitle }}</td>
                              <td>{{ metal.price | number: "2.0-2" }}</td>
                              <td
                                [ngClass]="{
                                  'tbl-green': metal.change >= 0,
                                  'tbl-span': metal.change < 0
                                }"
                              >
                                {{ metal.change | number: "2.3-4" }}
                                <span
                                  [ngClass]="{
                                    up: metal.change >= 0,
                                    down: metal.change < 0
                                  }"
                                ></span>
                              </td>
                              <td
                                [ngClass]="{
                                  'tbl-green': metal.changePercent >= 0,
                                  'tbl-span': metal.changePercent < 0
                                }"
                              >
                                {{ metal.changePercent | number: "2.3-4" }}%
                                <span
                                  [ngClass]="{
                                    up: metal.changePercent >= 0,
                                    down: metal.changePercent < 0
                                  }"
                                ></span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row my-2">
      <div class="col-xl-6">
        <div class="dash-white-bx">
          <div class="cust-tabs-emp cust-tabs-notification">
            <span class="text-class-span">Intra-Company Notifications</span>
            <ul class="nav nav-pills mb-3" role="tablist">
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link active"
                  id="pills-Package-tab"
                  data-toggle="pill"
                  href="#pills-Package"
                  role="tab"
                  aria-controls="pills-Package"
                  aria-selected="true"
                  >Package</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="pills-Invoice-tab"
                  data-toggle="pill"
                  href="#pills-Invoice"
                  role="tab"
                  aria-controls="pills-Invoice"
                  aria-selected="false"
                  >Invoice</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="pills-Transaction-tab"
                  data-toggle="pill"
                  href="#pills-Transaction"
                  role="tab"
                  aria-controls="pills-Transaction"
                  aria-selected="false"
                  >Transaction</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="pills-Purchase-tab"
                  data-toggle="pill"
                  href="#pills-Purchase"
                  role="tab"
                  aria-controls="pills-Purchase"
                  aria-selected="false"
                  >Purchase & Sales Order</a
                >
              </li>
            </ul>
            <div class="tab-content">
              <div
                class="tab-pane fade show active"
                id="pills-Package"
                role="tabpanel"
                aria-labelledby="pills-Package-tab"
              >
                <div class="notifc-div-main">
                  <div class="notifc-div-inr">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry.
                    </p>
                    <span>5 hour ago</span>
                  </div>
                  <div class="notifc-div-inr">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry.
                    </p>
                    <span>5 hour ago</span>
                  </div>
                  <div class="notifc-div-inr">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry.
                    </p>
                    <span>5 hour ago</span>
                  </div>
                  <div class="notifc-div-inr">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry.
                    </p>
                    <span>5 hour ago</span>
                  </div>
                  <div class="notifc-div-inr">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry.
                    </p>
                    <span>5 hour ago</span>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="pills-Invoice"
                role="tabpanel"
                aria-labelledby="pills-Invoice-tab"
              >
                2
              </div>
              <div
                class="tab-pane fade"
                id="pills-Transaction"
                role="tabpanel"
                aria-labelledby="pills-Transaction-tab"
              >
                3
              </div>
              <div
                class="tab-pane fade"
                id="pills-Purchase"
                role="tabpanel"
                aria-labelledby="pills-Purchase-tab"
              >
                4
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="Summary-modal"
  tabindex="-1"
  aria-labelledby="Summary-modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-cust-comn smry-popup">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Yesterday’s Summary</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <img src="assets/images/modal-close-icon.svg" alt="" />
        </button>
      </div>
      <div class="modal-body">
        <div class="row my-3">
          <div class="col-12">
            <div class="row justify-content-center mr-0 hover-section-class">
              <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0 pr-0">
                <div class="dash-white-bx">
                  <div class="d-flex align-items-center">
                    <div class="dash-box-round">
                      <img src="assets/images/dash-bx-icon-2.svg" alt="" />
                    </div>
                    <div class="dash-box-text ml-4">
                      <p>Total Sale</p>
                      <span>100</span>
                    </div>
                  </div>
                  <img
                    src="assets/images/dash-bx-icon-shap-2.svg"
                    class="shap-btm-dash"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0 pr-0">
                <div class="dash-white-bx">
                  <div class="d-flex align-items-center">
                    <div class="dash-box-round">
                      <img src="assets/images/dash-bx-icon-3.svg" alt="" />
                    </div>
                    <div class="dash-box-text ml-4">
                      <p>Total Purchase</p>
                      <span>90</span>
                    </div>
                  </div>
                  <img
                    src="assets/images/dash-bx-icon-shap-3.svg"
                    class="shap-btm-dash"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0 pr-0">
                <div class="dash-white-bx">
                  <div class="d-flex align-items-center">
                    <div class="dash-box-round">
                      <img src="assets/images/dash-bx-icon-5.svg" alt="" />
                    </div>
                    <div class="dash-box-text ml-4">
                      <p>Total Sales Order</p>
                      <span>20</span>
                    </div>
                  </div>
                  <img
                    src="assets/images/dash-bx-icon-shap-5.svg"
                    class="shap-btm-dash"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0 pr-0">
                <div class="dash-white-bx">
                  <div class="d-flex align-items-center">
                    <div class="dash-box-round">
                      <img src="assets/images/dash-bx-icon-6.svg" alt="" />
                    </div>
                    <div class="dash-box-text ml-4">
                      <p>Total Purchase Order</p>
                      <span>20</span>
                    </div>
                  </div>
                  <img
                    src="assets/images/dash-bx-icon-shap-6.svg"
                    class="shap-btm-dash"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0 pr-0">
                <div class="dash-white-bx">
                  <div class="d-flex align-items-center">
                    <div class="dash-box-round">
                      <img src="assets/images/dash-bx-icon-7.svg" alt="" />
                    </div>
                    <div class="dash-box-text ml-4">
                      <p>Total Expenses</p>
                      <span>20</span>
                    </div>
                  </div>
                  <img
                    src="assets/images/dash-bx-icon-shap-7.svg"
                    class="shap-btm-dash"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0 pr-0">
                <div class="dash-white-bx">
                  <div class="d-flex align-items-center">
                    <div class="dash-box-round">
                      <img src="assets/images/dash-bx-icon-8.svg" alt="" />
                    </div>
                    <div class="dash-box-text ml-4">
                      <p>Total Payment Received</p>
                      <span>20</span>
                    </div>
                  </div>
                  <img
                    src="assets/images/dash-bx-icon-shap-8.svg"
                    class="shap-btm-dash"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0 pr-0">
                <div class="dash-white-bx">
                  <div class="d-flex align-items-center">
                    <div class="dash-box-round">
                      <img src="assets/images/dash-bx-icon-9.svg" alt="" />
                    </div>
                    <div class="dash-box-text ml-4">
                      <p>Total Payment Done</p>
                      <span>20</span>
                    </div>
                  </div>
                  <img
                    src="assets/images/dash-bx-icon-shap-9.svg"
                    class="shap-btm-dash"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="row justify-content-center mr-0">
              <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0 pr-0">
                <div class="dash-white-bx dash-next-bx-inr">
                  <div class="dash-chart-main">
                    <span class="dash-chart-tag">Total Sale</span>
                    <div class="dash-chart-main-text d-flex align-items-center">
                      <p>100</p>
                      <span class="ml-auto">
                        <mark class="up-mark">+ 25%</mark></span
                      >
                    </div>
                    <div id="Summary-chart-1">
                      <apx-chart
                        [series]="chartData?.totalSale"
                        [chart]="totalSaleChartOptions?.chart"
                        [colors]="totalSaleChartOptions?.colors"
                        [dataLabels]="totalSaleChartOptions?.dataLabels"
                        [stroke]="totalSaleChartOptions?.stroke"
                        [grid]="totalSaleChartOptions?.grid"
                        [legend]="totalSaleChartOptions?.legend"
                        [fill]="totalSaleChartOptions?.fill"
                        [yaxis]="totalSaleChartOptions?.yaxis"
                      ></apx-chart>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0 pr-0">
                <div class="dash-white-bx dash-next-bx-inr">
                  <div class="dash-chart-main">
                    <span class="dash-chart-tag">Total Purchase</span>
                    <div class="dash-chart-main-text d-flex align-items-center">
                      <p>90</p>
                      <span class="ml-auto">
                        <mark class="up-mark">+ 25%</mark></span
                      >
                    </div>
                    <div id="Summary-chart-2">
                      <apx-chart
                        [series]="chartData?.totalPurchase"
                        [chart]="totalPurchaseOptions?.chart"
                        [colors]="totalPurchaseOptions?.colors"
                        [dataLabels]="totalPurchaseOptions?.dataLabels"
                        [stroke]="totalPurchaseOptions?.stroke"
                        [grid]="totalPurchaseOptions?.grid"
                        [legend]="totalPurchaseOptions?.legend"
                        [fill]="totalPurchaseOptions?.fill"
                        [yaxis]="totalPurchaseOptions?.yaxis"
                      ></apx-chart>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0 pr-0">
                <div class="dash-white-bx dash-next-bx-inr">
                  <div class="dash-chart-main">
                    <span class="dash-chart-tag">Total Sales Order</span>
                    <div class="dash-chart-main-text d-flex align-items-center">
                      <p>20</p>
                      <span class="ml-auto">
                        <mark class="up-mark">+ 25%</mark></span
                      >
                    </div>
                    <div id="Summary-chart-3">
                      <apx-chart
                        [series]="chartData?.cashOnHand"
                        [chart]="cashOnHandChartOptions?.chart"
                        [colors]="cashOnHandChartOptions?.colors"
                        [dataLabels]="cashOnHandChartOptions?.dataLabels"
                        [stroke]="cashOnHandChartOptions?.stroke"
                        [grid]="cashOnHandChartOptions?.grid"
                        [legend]="cashOnHandChartOptions?.legend"
                        [fill]="cashOnHandChartOptions?.fill"
                        [yaxis]="cashOnHandChartOptions?.yaxis"
                      ></apx-chart>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0 pr-0">
                <div class="dash-white-bx dash-next-bx-inr">
                  <div class="dash-chart-main">
                    <span class="dash-chart-tag">Total Purchase Order</span>
                    <div class="dash-chart-main-text d-flex align-items-center">
                      <p>20</p>
                      <span class="ml-auto">
                        <mark class="down-mark">- 25%</mark></span
                      >
                    </div>
                    <div id="Summary-chart-4">
                      <apx-chart
                        [series]="chartData?.totalSale"
                        [chart]="totalSaleChartOptions?.chart"
                        [colors]="totalSaleChartOptions?.colors"
                        [dataLabels]="totalSaleChartOptions?.dataLabels"
                        [stroke]="totalSaleChartOptions?.stroke"
                        [grid]="totalSaleChartOptions?.grid"
                        [legend]="totalSaleChartOptions?.legend"
                        [fill]="totalSaleChartOptions?.fill"
                        [yaxis]="totalSaleChartOptions?.yaxis"
                      ></apx-chart>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0 pr-0">
                <div class="dash-white-bx dash-next-bx-inr">
                  <div class="dash-chart-main">
                    <span class="dash-chart-tag">Total Expenses</span>
                    <div class="dash-chart-main-text d-flex align-items-center">
                      <p>20</p>
                      <span class="ml-auto">
                        <mark class="up-mark">+ 25%</mark></span
                      >
                    </div>
                    <div id="Summary-chart-5">
                      <apx-chart
                        [series]="chartData?.totalPurchase"
                        [chart]="totalPurchaseOptions?.chart"
                        [colors]="totalPurchaseOptions?.colors"
                        [dataLabels]="totalPurchaseOptions?.dataLabels"
                        [stroke]="totalPurchaseOptions?.stroke"
                        [grid]="totalPurchaseOptions?.grid"
                        [legend]="totalPurchaseOptions?.legend"
                        [fill]="totalPurchaseOptions?.fill"
                        [yaxis]="totalPurchaseOptions?.yaxis"
                      ></apx-chart>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0 pr-0">
                <div class="dash-white-bx dash-next-bx-inr">
                  <div class="dash-chart-main">
                    <span class="dash-chart-tag">Total Payment Received</span>
                    <div class="dash-chart-main-text d-flex align-items-center">
                      <p>20</p>
                      <span class="ml-auto">
                        <mark class="up-mark">+ 25%</mark></span
                      >
                    </div>
                    <div id="Summary-chart-6">
                      <apx-chart
                        [series]="chartData?.cashOnHand"
                        [chart]="cashOnHandChartOptions?.chart"
                        [colors]="cashOnHandChartOptions?.colors"
                        [dataLabels]="cashOnHandChartOptions?.dataLabels"
                        [stroke]="cashOnHandChartOptions?.stroke"
                        [grid]="cashOnHandChartOptions?.grid"
                        [legend]="cashOnHandChartOptions?.legend"
                        [fill]="cashOnHandChartOptions?.fill"
                        [yaxis]="cashOnHandChartOptions?.yaxis"
                      ></apx-chart>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-xl-0 pr-0">
                <div class="dash-white-bx dash-next-bx-inr">
                  <div class="dash-chart-main">
                    <span class="dash-chart-tag">Total Payment Done</span>
                    <div class="dash-chart-main-text d-flex align-items-center">
                      <p>20</p>
                      <span class="ml-auto">
                        <mark class="up-mark">+ 25%</mark></span
                      >
                    </div>
                    <div id="Summary-chart-7">
                      <apx-chart
                        [series]="chartData?.totalPurchase"
                        [chart]="totalPurchaseOptions?.chart"
                        [colors]="totalPurchaseOptions?.colors"
                        [dataLabels]="totalPurchaseOptions?.dataLabels"
                        [stroke]="totalPurchaseOptions?.stroke"
                        [grid]="totalPurchaseOptions?.grid"
                        [legend]="totalPurchaseOptions?.legend"
                        [fill]="totalPurchaseOptions?.fill"
                        [yaxis]="totalPurchaseOptions?.yaxis"
                      ></apx-chart>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
