<div class="container-fluid erp-content h-100">
  <div class="row align-items-center h-100">
    <div class="col-12">
      <div class="log-section-main">
        <div class="text-center logo-white-main">
          <img src="/assets/images/white-logo.svg" alt="" />
        </div>
        <div class="log-section-main-box">
          <span>Reset Password</span>
          <p>Please enter below details to to reset your password</p>
          <form
            class="row mt-sm-5"
            [formGroup]="verifyPassForm"
            (onSubmit)="onSubmit()"
          >
            <div class="col-12 form-group">
              <label class="lbl-class">New Password :</label>
              <input
                id="psswdnew"
                psswd-shown="false"
                type="password"
                name=""
                class="form-control input-style input-psswd"
                placeholder=""
                formControlName="new_password"
                [ngClass]="{
                  'is-invalid': submitted && f.new_password.errors
                }"
              />
              <i
                *ngIf="submitted == false"
                class="fa fa-eye-slash pass-iocn button-psswd"
              ></i>
              <div
                *ngIf="submitted && f.new_password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.new_password.errors.required">
                  New Password is required
                </div>
                <div *ngIf="f.new_password.errors.minlength">
                  New Password is too short
                </div>
              </div>
            </div>
            <div class="col-12 form-group">
              <label class="lbl-class">Confirm Password :</label>
              <input
                id="psswdconf"
                psswd-shown="false"
                type="password"
                name=""
                class="form-control input-style input-psswd"
                placeholder=""
                formControlName="confirm_password"
                [ngClass]="{
                  'is-invalid': submitted && f.confirm_password.errors
                }"
              />
              <i
                *ngIf="submitted == false"
                class="fa fa-eye-slash pass-iocn button-psswd"
              ></i>
              <div
                *ngIf="submitted && f.confirm_password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.confirm_password.errors.required">
                  Confirm Password is required
                </div>
                <div *ngIf="f.confirm_password.errors.minlength">
                  Confirm Password is too short
                </div>
              </div>
            </div>
            <div class="col-12">
              <button
                type="submit"
                class="btn-theme-color w-100 mt-3"
                (click)="onSubmit()"
              >
                Submit
              </button>
            </div>
            <div class="col-12">
              <p class="tag-p-link">Back To? <a href="login">Login</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
