.brch-main-top p {
  margin-bottom: 0;
  font-weight: 600;
  color: var(--thm-color);
  font-size: 24px;
}

.brch-main-top span {
  color: var(--text-gray);
  display: block;
  font-size: 16px;
}

.brch-main-bottom p {
  font-size: 14px;
  color: var(--thm-color);
  margin-bottom: 0;
}

.brch-main-bottom p.ml-auto {
  text-align: right;
}

.brch-main-bottom mark {
  padding: 0;
  background-color: transparent;
  font-weight: 500;
}

.brch-main-bottom {
  padding: 10px 15px;
}

.brch-main-top {
  padding: 15px;
}

.brch-bc-bdr {
  border: 2px dotted var(--text-gray);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  padding: 10px;
}

.brch-bc-bdr img {
  width: 40px;
  margin-bottom: 10px;
}

.modal-xl {
  max-width: 950px;
}

.hgt-text {
  color: var(--thm-color);
  font-weight: 600;
  font-size: 20px;
  padding: 15px 0;
  display: block;
}

.file-upload {
  position: relative;
  background-color: #f8f8f8;
  border: 1.5px dashed #c2c2c2;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-upload-inr {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.file-upload-content {
  display: block;
  text-align: center;
}

.file-upload .file-upload-image {
  max-height: 100px;
  max-width: 100px;
  margin: auto;
  padding: 10px;
  object-fit: contain;
  object-position: center;
  width: auto;
}

.image-upload-wrap {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  position: absolute;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.drag-text {
  position: relative;
  top: 0;
}

.drag-text h3 {
  color: var(--thm-color);
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0;
  padding: 0;
}

.drag-text h3 a {
  color: var(--thm-color);
  text-decoration: underline;
}

@media (max-width: 991px) {
  .modal-xl {
    max-width: 97%;
  }
}
