<div class="container-fluid erp-content h-100">
  <div class="row align-items-center h-100">
    <div class="col-12">
      <div class="log-section-main">
        <div class="text-center logo-white-main">
          <img src="/assets/images/white-logo.svg" alt="" />
        </div>
        <div class="log-section-main-box">
          <span>Forgot Password</span>
          <p>Please enter your email below. We will send you the password</p>
          <form
            class="row mt-sm-5"
            [formGroup]="forgotpassForm"
            (onSubmit)="onSubmit()"
          >
            <div class="col-12 form-group">
              <label class="lbl-class">Email :</label>
              <input
                type="email"
                name=""
                class="form-control input-style"
                placeholder="email here......"
                formControlName="email"
                [ngClass]="{
                  'is-invalid': submitted && f.email.errors
                }"
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email || f.email.errors.pattern">
                  Email must be a valid email address
                </div>
              </div>
            </div>
            <div class="col-12">
              <button
                type="submit"
                class="btn-theme-color w-100 mt-3"
                (click)="onSubmit()"
              >
                Submit
              </button>
            </div>
            <div class="col-12">
              <p class="tag-p-link">
                Back To? <a [routerLink]="['/login']">Login</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
