<div class="row row-space-class">
  <div class="col-12">
    <div class="comn-title-tag d-md-flex align-items-center">
      <h1>Term Lists</h1>
      <div class="ml-auto mt-3 mt-md-0">
        <ul class="col-right-drop d-sm-flex">
          <li class="mx-sm-2">
            <select class="custom-select form-control slect-menu-comn">
              <option selected="">Reports</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </li>
          <li class="mx-sm-2">
            <select class="form-control custom-select slect-menu-comn">
              <option selected="">Term</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="dash-white-bx">
      <table id="term-lists" class="display">
        <thead>
          <tr>
            <th class="text-left">Terms</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left">
              <a
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#add-data-modal"
                >1% 10 Net 30</a
              >
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <a
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#add-data-modal"
                >1% 10 Net 30</a
              >
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <a
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#add-data-modal"
                >1% 10 Net 30</a
              >
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <a
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#add-data-modal"
                >1% 10 Net 30</a
              >
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <a
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#add-data-modal"
                >1% 10 Net 30</a
              >
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <a
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#add-data-modal"
                >1% 10 Net 30</a
              >
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <a
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#add-data-modal"
                >1% 10 Net 30</a
              >
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <a
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#add-data-modal"
                >1% 10 Net 30</a
              >
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <a
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#add-data-modal"
                >1% 10 Net 30</a
              >
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <a
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#add-data-modal"
                >1% 10 Net 30</a
              >
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <a
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#add-data-modal"
                >1% 10 Net 30</a
              >
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <a
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#add-data-modal"
                >1% 10 Net 30</a
              >
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <a
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#add-data-modal"
                >1% 10 Net 30</a
              >
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <a
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#add-data-modal"
                >1% 10 Net 30</a
              >
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <a
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#add-data-modal"
                >1% 10 Net 30</a
              >
            </td>
          </tr>
          <tr>
            <td class="text-left">
              <a
                href="javascript:void(0)"
                data-toggle="modal"
                data-target="#add-data-modal"
                >1% 10 Net 30</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="add-data-modal"
  tabindex="-1"
  aria-labelledby="add-data-modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-cust-comn">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Terms: 30 days</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <img src="assets/images/modal-close-icon.svg" alt="" />
        </button>
      </div>
      <div class="modal-body">
        <div class="days-modal-section">
          <div class="d-flex align-items-center">
            <span class="span-class-tms">Terms :</span>
            <input
              type="text"
              name=""
              class="form-control input-style"
              placeholder="30 days"
            />
          </div>
          <div class="days-modal-section-inr">
            <div class="rad-class-hide-show class-1-click">
              <div class="cust-radio-btn">
                <input type="radio" id="one" name="radio-group" checked />
                <label for="one">Standard</label>
              </div>
              <div class="rad-class-hide-section">
                <ul>
                  <li>
                    <div class="d-md-flex align-items-center">
                      <span>Net due in</span>
                      <div class="mx-md-3">
                        <input
                          type="text"
                          name=""
                          class="form-control input-style"
                          placeholder=""
                        />
                      </div>
                      <span>days.</span>
                    </div>
                  </li>
                  <li>
                    <div class="d-md-flex align-items-center">
                      <span>Discount percentage is</span>
                      <div class="mx-md-3">
                        <input
                          type="text"
                          name=""
                          class="form-control input-style"
                          placeholder=""
                        />
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-md-flex align-items-center">
                      <span>Discount if paid within</span>
                      <div class="mx-md-3">
                        <input
                          type="text"
                          name=""
                          class="form-control input-style"
                          placeholder=""
                        />
                      </div>
                      <span>days.</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="rad-class-hide-show class-2-click">
              <div class="cust-radio-btn">
                <input type="radio" id="two" name="radio-group" />
                <label for="two">Date Driven</label>
              </div>
              <div class="rad-class-hide-section">
                <ul>
                  <li>
                    <div class="d-md-flex align-items-center">
                      <span>Net due before the</span>
                      <div class="mx-md-3">
                        <input
                          type="text"
                          name=""
                          class="form-control input-style"
                          placeholder=""
                        />
                      </div>
                      <span>day of the month.</span>
                    </div>
                  </li>
                  <li>
                    <div class="d-md-flex align-items-center">
                      <span>Due the next month if issued within</span>
                      <div class="mx-md-3">
                        <input
                          type="text"
                          name=""
                          class="form-control input-style"
                          placeholder=""
                        />
                      </div>
                      <span>days of due date.</span>
                    </div>
                  </li>
                  <li>
                    <div class="d-md-flex align-items-center">
                      <span>Discount percentage is</span>
                      <div class="mx-md-3">
                        <input
                          type="text"
                          name=""
                          class="form-control input-style"
                          placeholder=""
                        />
                      </div>
                      <span>days.</span>
                    </div>
                  </li>
                  <li>
                    <div class="d-md-flex align-items-center">
                      <span>Discount if paid before the</span>
                      <div class="mx-md-3">
                        <input
                          type="text"
                          name=""
                          class="form-control input-style"
                          placeholder=""
                        />
                      </div>
                      <span>day of the month.</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="btn-btm-inr-tabs text-center mt-4">
            <button type="button" class="btn-theme-color mr-2">Ok</button>
            <button type="button" class="btn-white">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
